<center>
  <div class="container">
    <h3 class="header2">Register</h3>
    <div class="row">
      <form [formGroup]="userForm" class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input formControlName="name" id="name" type="text" class="validate">
            <label for="name" class="">Name</label>
            <div *ngIf="formErrors.name" class="notification is-danger">
              {{ formErrors.name }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">markunread_mailbox</i>
            <input formControlName="address" id="address" type="text" class="validate">
            <label for="address" class="">Address</label>
            <div *ngIf="formErrors.address" class="notification is-danger">
              {{ formErrors.address }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <input formControlName="email" id="email" type="email" class="validate">
            <label for="email">Email</label>
            <div *ngIf="formErrors.email" class="notification is-danger">
              {{ formErrors.email }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
            <input formControlName="password" id="password" type="password" class="validate">
            <label for="password" class="">Password</label>
            <div *ngIf="formErrors.password" class="notification is-danger">
              {{ formErrors.password }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <button (click)="signUpWithEmail()" id="submit" class="btn red waves-effect waves-light right" type="button">
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</center>
